
.excel__table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: auto;
  & .row {
    display: flex;
    justify-content: flex-start;
    height: $cell-height;
  }
  & .info, & .column, & .cell {
    width: $cell-width;
    height: 100%;
    padding: 3px;
    border: 0;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    flex-shrink: 0;
    position: relative;
    display: flex;
  }
  & .info, & .column {
    justify-content: center;
    align-items: center;
    background: #eee;
  }
  & .info {
    width: $info-width;
  }
  & .cell {
    font-size: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    white-space: nowrap;
    &.selected {
      outline: 2px solid blue;
      border: 0;
      z-index: 2;
    }
  }
  & .col-resizer, & .row-resizer {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgb(0, 153, 255);
    opacity: 0;
    z-index: 10;
    &:hover {
      opacity: 1;
    }
  }
  & .col-resizer {
    top: 0;
    width: 3px;
    cursor: col-resize;
  }
  & .row-resizer {
    left: 0;
    height: 3px;
    cursor: row-resize;
  }
}
