
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    padding: 15px 0;
    box-shadow: 0 2px 5px 2px rgba(188, 183, 255, 0.8);
    &:hover {
      background: linear-gradient(to right, white, rgb(250, 254, 255), white)
    }
  }
}
